*{
    margin: 0;
    padding: 0;
}
body{
    .poppins-regular {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
      ;
      width: 100%;
      background: rgb(217,243,243);
      background: linear-gradient(90deg, rgba(217,243,243,1) 0%, rgba(186,232,240,1) 20%, rgba(160,225,236,1) 40%, rgba(164,229,240,1) 60%, rgba(153,231,239,1) 80%, rgba(145,211,211,1) 100%);
}
.navbar{
    padding: 15px;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    
}
.container{
    display: flex;
    flex-wrap: wrap;
    
}
.todo_item{
    width: 300px;
    height: 230px;
    background-color: black;
    padding: 15px;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
    
}
.todo_item h3{
    color: #98ffff;
}
.todo_item p{
    color: #98ffff;
    padding-top: 10px;
}
.todo_item h5{
    color: white;
    padding-top: 20px;
}
.todo_item button{
    padding: 5px;
    border-radius: 10px;
    background-color: #98ffff;
    margin-top: 15px;
}
.popup_btn{
    width:70px;
    height: 70px;
    border-radius: 25px;
    background-color: #98ffff;
    position: fixed;
    bottom: 25px;
    right: 25px;
    font-size: 30px;
}
.popup_btn:hover{
    background-color: rgb(229, 244, 247);
}
.over_lay{
    
    background-color: black;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    display: none;
    z-index: 2;
    
}
.popup_box_overlay{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    display: none;
    
}
.popup_box{
    padding: 20px;
    width: 300px;
    height: 200px;
    background-color: #98ffff;
    border-radius: 20px;
    position: absolute;
    display: none;
    z-index: 3;
    
}
.popup_box input{
    background: transparent;
    border: none;
    border-bottom: solid 2px black;
    width: 100%;
    padding: 5px;
    margin: 5px;
    
}
.popup_box input::placeholder{
    color: black;
}

.popup_box textarea{
    background: transparent;
    border: none;
    border: solid 2px black;
    width: 100%;
    height: 50px;
    padding: 5px;
    margin: 5px;
    
}
.popup_box textarea::placeholder{
    color: black;
}
.popup_box input:focus{
    outline: none;
}
.popup_box textarea:focus{
    outline: none;
}
.add_btn{
    background-color: #98ffff;
    padding: 5px;
    font-size: 15px;
    border-radius: 10px;
}
.cancel_btn{
    background-color: #98ffff;
    padding: 5px;
    font-size: 15px;
    border-radius: 10px;
}
button:hover {
    cursor: pointer;
    background-color: rgb(229, 244, 247);
    color: black;
}
.greeting{
    display: flex;
    
    justify-content: center;
    padding: 10px;
    margin: 10px;
}
.greetingtext{
    background: linear-gradient(90deg,rgb(1, 109, 136),rgb(249, 72, 208));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
li{
    list-style: none;
}
.navbtn{
    border-radius: 20px;
    padding: 10px;
    margin-top: 5px;
    margin-right: 10px;
    font-weight: 600;
    background-color: #98ffff;
}
.navbtn:hover{
    background-color:  rgb(229, 244, 247);
}